@import url('https://fonts.googleapis.com/css2?family=Butcherman&family=Tangerine:wght@400;700&display=swap');

body{
    /* font-family: "Tangerine"; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255,255,255, 0.7);
    box-shadow: 0px 0px 5px rgba(216, 216, 216, 0.7);
    text-align: right;
    border-radius: 40px;
}

.navbar li {
    display:inline-block;
}

.navbar li a{
    display: block;
    color: rgb(249, 121, 121);
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    /* Animated Navbar code  */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

/* @keyframes slideDown {
    from {
        max-height: 0;
    }
    to{
        max-height: 800px;
    }
} */

@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateX(250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateX(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateX(68px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateX(32px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateX(8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}
}

body::after {
    content: '';
    display: none;
}

body:not(:hover) .navbar{
    /* animation: slideDown 7s forwards; */
    animation: myAnim 2s ease 0s 1 normal forwards;
}

.navbar li a:hover{
    background-color: rgb(246, 55, 49);
    color: white;
    border-radius: 40px;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 100px rgb(83, 82, 82);
}

header, .biography, footer {
    margin-bottom: 20px;
}

h1, h2 {
    color: #8e303f;
    font-size: xx-large;
    margin-top: 0;
    text-align: center;
}

.portrait{
    width: 50%;
    max-width: 200px;
    display: block;
    margin: 20px auto;
    border-radius: 200px;
    box-shadow: 0px 0px 10px rgb(11, 11, 11);
    filter: saturate(0);
}

.portrait:hover{
    filter: saturate(1);
    scale: 1.2;
}

.biography, p {
    text-align: center;
    line-height: 1.5;
    
}

footer a {
    color: #8e303f;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}